.dark-medium-contrast {
  --md-sys-color-primary: rgb(144 212 244);
  --md-sys-color-surface-tint: rgb(140 207 240);
  --md-sys-color-on-primary: rgb(0 25 35);
  --md-sys-color-primary-container: rgb(84 153 184);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(184 206 218);
  --md-sys-color-on-secondary: rgb(3 25 34);
  --md-sys-color-secondary-container: rgb(127 148 159);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(205 195 255);
  --md-sys-color-on-tertiary: rgb(22 11 68);
  --md-sys-color-tertiary-container: rgb(146 137 199);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 231);
  --md-sys-color-surface: rgb(15 20 23);
  --md-sys-color-on-surface: rgb(247 251 255);
  --md-sys-color-surface-variant: rgb(64 72 76);
  --md-sys-color-on-surface-variant: rgb(196 204 209);
  --md-sys-color-outline: rgb(156 164 169);
  --md-sys-color-outline-variant: rgb(124 132 137);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 227 231);
  --md-sys-color-inverse-on-surface: rgb(38 43 46);
  --md-sys-color-inverse-primary: rgb(0 78 102);
  --md-sys-color-primary-fixed: rgb(190 233 255);
  --md-sys-color-on-primary-fixed: rgb(0 19 28);
  --md-sys-color-primary-fixed-dim: rgb(140 207 240);
  --md-sys-color-on-primary-fixed-variant: rgb(0 59 78);
  --md-sys-color-secondary-fixed: rgb(208 230 242);
  --md-sys-color-on-secondary-fixed: rgb(0 19 28);
  --md-sys-color-secondary-fixed-dim: rgb(180 202 214);
  --md-sys-color-on-secondary-fixed-variant: rgb(37 57 67);
  --md-sys-color-tertiary-fixed: rgb(229 222 255);
  --md-sys-color-on-tertiary-fixed: rgb(16 4 63);
  --md-sys-color-tertiary-fixed-dim: rgb(201 191 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(54 46 101);
  --md-sys-color-surface-dim: rgb(15 20 23);
  --md-sys-color-surface-bright: rgb(53 58 61);
  --md-sys-color-surface-container-lowest: rgb(10 15 18);
  --md-sys-color-surface-container-low: rgb(23 28 31);
  --md-sys-color-surface-container: rgb(27 32 35);
  --md-sys-color-surface-container-high: rgb(38 43 46);
  --md-sys-color-surface-container-highest: rgb(48 53 56);
}
